html{
    height: 100%;;
}
body{
    height: 100%;
    margin: 0
    
}


.full_height{
    min-height: 100%;
}


.basic_info{
    background-color: #403f3f;
}

.basic_info h1{
    text-align: left;
    margin-left: 10%;
}

#profile_pic{
    width: 100%
}





.items{
    text-align: center;
    margin-bottom: 10px;
}
.items h2{
    display: block;
    position: absolute ;
    margin-top: 1px;
    margin-left: 0.5rem ;
    margin-right: 0.5rem;
    top: 40%;
    left: 0;
    right: 0;
    color: black;
}

.items img{
    width: 100%;
    filter: grayscale(60%);
    opacity: 0.5;
    
}

.items:hover img{
    width: 100%;
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.4s;
}
.items:hover h2{
    opacity: 0;
    visibility: hidden; 
    transition: 0.4s;
}


#profile_pic{
    width: 100%;
    margin: 0;
}