/* COLORS

Darkerst Bleu     #183641
active page blue  #20566E
                  #4699B7
hover blue        #6DB38F
background color  #CEE9F4








*/

/* Main Css file*/

body{
    background-color: beige;

}

*{
	margin:0;
	padding:0;
	box-sizing:
}

ul li{
	list-style:none;
}
h1{
	padding:15px 0 25px 0;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:2.2em;
    color: white
}

/******************** NAVIGATION**************************/
#wrapper{
	width: 100%;
	background-image: url(../images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	padding: 10px;
	height: 280px;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:90%;
}
.nav li{
	width:100px;
	height:100px;
	display:inline-block;
	float:left;
	cursor:pointer;
    margin-right: 15%
	}
.nav li:last-of-type{
    margin-right: 0px;

}

.nav li:hover{
	background-color: aqua;
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	padding:14px;
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:0.9em;
}
.nav li:hover span{
	padding-top:20px;
}
.nav__item{
	background:rgba(50, 50, 50, 0.8);
}


/******************** Home page **************************/
