body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42;
    /*color: #2C3E50;*/
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-size: 16px;*/
    font-weight: 500;
    font-style: normal;
    line-height: 1.42;
}


.text_blue{
    color: #4799b8;
    text-decoration: underline;
}


.text_white{
    color: white;
}

.text_bold{
    font-weight: bolder;
}

.qoute {
    font-family: 'Lusitana', serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.42;
    color: #663399;
    text-align: center;

}

.lustana{
    font-family: 'Lusitana', serif;

    font-weight: 300;
    font-style:normal;
    line-height: 1.42;

}
.centered{
    text-align: center;
}
